*{
margin:0;
padding:0;
}
html{
background-color:black;
}

body{
width:1000px;
height:1180px; 
margin:auto;
background-image: url('../img/cinta.jpg');
}

header{
widht:1000px;
height:200px;
background-color:blue;
}

nav{
widht:1000px;
height:150px;
background-color:orange;
}

main{
widht:1000px;
height:300px;
background-color:indianred;
}

footer{
widht:1000px;
height:200px;
background-color:magenta;
}

section#logo{
width:200px;
height:500px;
float:left;
background-color:black;
}

section#banner{width:800px;
height:500px;
float:left;
background-color:black;
}
